# Format
# *.conf linguist-language=Nginx linguist-detectable
# *.json linguist-language=JSON linguist-detectable
*.md linguist-language=Markdown linguist-detectable
# *.pub linguist-language=Text linguist-detectable
*.toml linguist-language=TOML linguist-detectable

# Specific files
Dockerfile.template linguist-language=Dockerfile linguist-detectable
# freenginx.conf linguist-language=Nginx linguist-detectable
# freenginx_http3.conf linguist-language=Nginx linguist-detectable
# freenginx-seccomp.json linguist-language=JSON linguist-detectable
# freenginx.toml linguist-language=TOML linguist-detectable
# cosign.pub linguist-language=Text linguist-detectable
default.conf linguist-language=Nginx linguist-detectable

# Auto detect text files and perform LF normalization
* text=auto eol=lf